.login__wrapper {
  max-width: 500px;
  margin-top: 5rem;
  font-size: 13px;
}
.MuiButton-root.login-page__signup {
  padding: 0.5rem 1rem;
  color: #fafafa;
  background-color: #0274de;
  margin-left: 1.5rem;
}
@media screen and (max-width: 500px) {
  .login__wrapper {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.confirm-code.center {
  height: 100vh;
  top: 50%;
  display: flex;
  flex-direction: column;
  .MuiTextField-root,
  .MuiButton-root {
    margin-bottom: 1rem;
  }
  h3 {
    color: var(--secondary);
  }
}
.newpassword.MuiTextField-root.no-pad {
  margin-bottom: 1rem;
}
