.header {
  height: 48px;
  padding: 0 48px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  font-size: 12px;
}

.flex-align {
  display: flex;
  align-items: center;
}
.header__logo p {
  font-size: 1.5rem;
}
.space {
  flex: 1 1 auto;
}
.header__nav__e {
  margin-right: 1rem;
}
.header__actions__e {
  margin-left: 1.5rem;
}

.header__actions button {
  cursor: pointer;
}
.full > .header__nav__list {
  position: absolute;
  width: 100vw;
  font-family: Georgia;
  font-weight: 300;
  font-size: 2rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #3784dd;
}
.full .header__nav__e {
  margin: 1.5rem 0;
}

.header__actions__e:last-child {
  display: none;
}

@media screen and (max-width: 800px) {
  .header {
    padding: 0 24px;
  }
  .header__nav {
    display: none;
  }
  .header__actions__e:first-child {
    display: none;
  }
  .header__actions__e:last-child {
    display: flex;
  }
  .header__nav__e a {
    color: white;
    transition: 0.2s;
  }
  .header__nav__e a:hover {
    color: whitesmoke;
    font-size: 1.01em;
  }
}
