.user-search {
  display: flex;
  align-items: center;
  .MuiTextField-root.input__wrapper {
    width: 100%;
    .input {
      height: 100%;
      color: var(--secondary);
    }
  }
}
.allmessages {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  overflow-y: auto;
}
.message__input {
  display: flex;
  align-items: center;
}

.imagePreview {
  height: 100%;
  img {
    position: relative;
  }
  .preview {
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // display: flex;
  // align-items: center;
  // margin-top: 5rem;
}
