.popup {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 4px;
  position: fixed;
  z-index: 999999;
  top: 3rem;

  p {
    font-size: 0.8rem;
    margin-right: 0.25rem;
    color: wheat;
  }
  &.error {
    background-color: #b00020;
  }
  &.success {
    background-color: #1976d2;
  }
  &.warn {
    background-color: var(--warning);
  }
  &.confirm {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    .confirm-message {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-bottom: 2rem;
      p {
        color: var(--primary);
      }
    }
    .confirm-choice {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}

@keyframes popup {
  from {
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
  }
}
