.popup {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 4px;
  position: absolute;
  z-index: 999999;
  top: 3rem;
  animation: popup ease forwards;
  p {
    font-size: 0.8rem;
    margin-right: 0.25rem;
    color: wheat;
  }
  &.error {
    background-color: #b00020;
  }
  &.success {
    background-color: #1976d2;
  }
  &.warn {
    background-color: #e15461;
  }
}

@keyframes popup {
  from {
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
  }
}
