.user-search {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
  .input__wrapper {
    width: 100%;
    .input {
      height: 100%;
      width: 100%;
      color: var(--secondary);
    }
  }
}
.messages__list {
  padding: 1rem 0.2rem;
}
.join-or-create {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.5rem 0;
  align-items: center;
  span {
    font-size: 1rem;
    color: var(--primary);
    cursor: pointer;
  }
}
.user-search-loading {
  width: 40px;
  margin: 0 auto;
}
