.user-search {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  .input__wrapper {
    width: 100%;
    .input {
      height: 100%;
      width: 100%;
      color: var(--secondary);
    }
  }
}
.messages__list {
  padding-top: 1rem;
}
.join-or-create {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.25rem 0;
}
.user-search-loading {
  width: 40px;
  margin: 0 auto;
}
