.user-search {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
  .input__wrapper {
    width: 100%;
    .input {
      height: 100%;
      width: 100%;
      color: var(--secondary);
    }
  }
}
#children-class-checkbox:checked + .messages__list {
  height: 0;
  display: none;
  opacity: 0;
}
.messages__list {
  padding: 1rem 0.2rem;
  transition: 0.25s;
}
.join-or-create {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.5rem 0;
  align-items: center;
  span {
    font-size: 1rem;
    color: var(--primary);
    cursor: pointer;
  }
}
.user-search-loading {
  width: 40px;
  margin: 0 auto;
}
.class__sidebar {
  h3 {
    cursor: pointer;
    color: var(--primary);
    user-select: none;
    // padding-top: 0.5rem;
  }
}
