.main__main {
  flex-grow: 1;
  padding-top: 1rem;
  background-color: var(--mainbackground);
  display: flex;
  flex-direction: column;
}
.main__wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  overflow: hidden;
  transition: 0.25s;
}
.messages__main {
  display: flex;
  flex-direction: row;
}
.main__main__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  border-bottom: 1px solid var(--headborder);
  box-shadow: 0px 2px #f7f7f7;
  .class-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
  .invite {
    cursor: pointer;
    user-select: none;
    align-self: flex-start;
    margin-right: 2rem;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    font-size: 1rem;
    &:hover {
      filter: brightness(90%);
    }
  }
}

.text-info {
  margin-left: 1rem;
  span {
    width: fit-content;
    &:first-child {
      font-size: 18px;
      line-height: 25px;
    }
    &:nth-child(2) {
      font-size: 13px;
    }
  }
}
