.input__wrapper {
  &:hover {
    border-color: var(--primary);
  }
}
.input {
  padding: 0.5rem !important;
  font-size: 13px !important;
  height: 100%;
  border: 1px solid var(--inputborder) !important;
  border-radius: 4px !important;

  &:focus {
    border-color: var(--primary) !important;
  }
}
