.input__wrapper {
  &:hover {
    border-color: #0274de;
  }
}
.input {
  padding: 0.5rem !important;
  font-size: 13px !important;
  height: 100%;
  border: 1px solid #6b6e72 !important;
  border-radius: 4px !important;

  &:focus {
    border-color: #0274de !important;
  }
}
