.actionsidebar__loading#loading svg {
  margin-top: 1rem;
  max-width: 48px;
  max-height: 48px;
}
.room__info--right.expanded {
  flex-grow: 1;
  max-width: 100000px;
  transition: 0.25s ease;
}
.nav .expandbutton {
  max-width: 2rem;
  .MuiSvgIcon-root {
    transition: 0.25s linear;
    transform-box: fill-box;
    transform-origin: center;
    // font-size: 1em;
    &:hover {
      background-color: whitesmoke;
      color: var(--primary);
    }
  }
}
.room__info--right.expanded .nav .expandbutton .MuiSvgIcon-root {
  transform: rotate(180deg);
}
