.class__sidebar {
  max-width: 242px;
  width: 242px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  align-items: flex-start;
  min-height: 100vh;
}

.class__sidebar__header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 0;
  position: relative;
  top: 0;
  border-bottom: 1px solid var(--headborder);
}

.messages__sidebar {
  @extend .class__sidebar;
  width: 300px;
  max-width: 300px;
}
.messages__sidebar__header {
  @extend .class__sidebar__header;
}
.sidebar__header__avatar {
  margin-right: 1rem;
}
.sidebar__header__info {
  p.fullname {
    cursor: pointer;
    display: flex;
    align-items: center;
    // max-width: 6.25rem;
    // text-overflow: ellipsis;
    // overflow: hidden;
    // white-space: nowrap;
  }
}
