.messages__wrapper {
  flex-grow: 3.5;
  height: 100%;
  padding: 0.5rem;
  border-right: 1px solid var(--headborder);
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
}
.room__info--right {
  flex-grow: 1.7;
  max-width: 33vmax;
}
