body,
button,
input,
select,
textarea {
  font-family: remind-proxima-nova, helvetica neue, arial, sans-serif;
}
a,
button {
  font-weight: 600;
}

a {
  color: #0274de;
  text-decoration: none;
}
a:hover {
  color: #00182d;
}
ul {
  list-style: none;
}
