* {
  margin: 0;
  box-sizing: border-box;
  outline: none !important;
}
html {
  height: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5eb1bf;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blockhover);
}
:root {
  --blue: #ccc;
  --primary: #0274de;
  --secondary: #6b6e72;
  --linkhover: #00182d;
  --bodybackground: #f2f3f5;
  --homebackground: #ffffff;
  --headernavbackground: #3784dd;
  --mainBackground: #ffffff;
  --blockhover: #abecef;
  --buttonhover: #0267c5;
  --hamburger: #2f75c1;
  --headborder: #dcdee2;
  --inputborder: #6b6e72;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: var(--bodybackground);
  font-size: 13px;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  margin: 0 auto;
  text-align: center;
}
#root {
  overflow: hidden;
}
.loading {
  width: 100%;
  overflow-y: hidden !important;
}
.break-word-ellipsis {
  display: inline-block;
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
