.boxlink--active {
  border-bottom: 2px solid var(--primary);
  color: black;
}
.nav__link {
  flex-grow: 1;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 0;
  // margin: 0 0.5rem
  cursor: pointer;
}
.nav {
  width: 100%;
  display: flex;
  box-shadow: 0px 2px #f7f7f7;
  border-bottom: 1px solid var(--headborder);
  box-shadow: 0px 2px #f7f7f7;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
