.boxlink--active {
  border-bottom: 2px solid #0274de;
  color: black;
}
.nav__link {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
}
.nav {
  border-bottom: 1px solid #dcdee2;
}
