.message__wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.25rem;
  border-radius: 0.7rem 0.7rem 0.7rem 0.2rem;
  .small {
    align-self: flex-end;
    margin: 0 1px;
    cursor: pointer;
  }
  &.owner {
    flex-direction: row-reverse;
    margin-left: 0.25rem;
    .small {
      display: none;
    }
    .message {
      border-radius: 0.7rem 0.7rem 0.2rem 0.7rem;
    }
  }
}
.message {
  width: fit-content;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  margin-top: auto;
  // background-color: var(--secondary);
  border-radius: 0.7rem 0.7rem 0.7rem 0.2rem;
  background-color: #abc4d6;
  text-align: left;
  font-size: 0.9rem;
  a {
    text-decoration: underline;
  }
  .file-preview {
    max-width: calc(280px - 2rem);
    video {
      width: 100%;
      display: block;
    }
  }
  .image {
    padding-left: 0;
    // margin-left: -1rem;
    background-size: cover;
    max-height: 120px;
    cursor: pointer;
    max-width: 280px;
    background-color: whitesmoke;
    overflow: hidden;
    .image-placeholder {
      opacity: 0;
      width: 280px;
      height: 168px;
      display: block;
    }
  }
  &__content {
    padding: 0.5rem 1rem;

    p {
      word-wrap: normal;
      word-break: break-word;
      font-size: 0.85rem;
    }
    // margin-bottom: 0.5rem;
  }
  .message-time-info {
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    // width: fit-content;
    font-size: 0.7rem;
    top: -1rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.25rem;
    border-radius: 4px;
    p {
      width: fit-content;
      color: wheat;
      white-space: nowrap;
      max-width: unset;
    }
  }
  &:hover .message-time-info {
    display: flex;
  }
}
.message.owner {
  // @extend .message;
  align-self: flex-end;
  background-color: var(--primary);
  border-radius: 0.7rem 0.7rem 0.2rem 0.7rem;
  margin-left: 0.25rem;
}
.message.popper__element {
  display: flex;
  flex-direction: column;
}
.announcement {
  @extend .message;
  margin-bottom: 0.25rem;
  padding: 0;
  position: relative;
  &__header {
    cursor: pointer;
    display: flex;
    border-radius: 0.7rem 0.7rem 0 0;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #abc4d6;
    .announcement-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      span.announcement-target {
        // font-weight: normal;
        font-size: 0.7em;
        color: var(--secondary);
        text-transform: capitalize;
      }
    }
    span {
      // font-size: 1rem;
      font-weight: 650;
      margin-left: 1rem;
    }
  }
  &__content {
    // padding: 0.5rem;
    ul {
      list-style: unset;
    }

    width: 100%;
    border-radius: 0 0 0.7rem 0.7rem;
    // width: fit-content;
    overflow: hidden;
    .content {
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      // padding-right: 1rem;
      a {
        color: #200772;
      }
    }
    img {
      max-width: calc(280px - 1rem);
      object-fit: contain;
    }
    & > div {
      width: 100%;
      .file-preview {
        max-width: unset;
        border-radius: 0;
      }
      width: 100%;
    }
    p {
      margin-bottom: 0.5rem;
    }
  }
  &.owner header {
    background-color: #ffffff;
  }
  .image {
    margin-left: 0rem;
  }
}
#image__wrapper {
  display: block;
  width: 200px;
  height: 120px;
}
