.create-announcement {
  width: 800px;
  // height: 600px;
  background-color: whitesmoke;
  flex-direction: column;
  padding: 1rem;
  background-color: #ffffff;
  header.create-announcement__header {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--secondary);
  }
  main.create-announcement__main {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 4fr 2.5fr;
    h3 {
      margin-bottom: 1rem;
    }
    .classes-target {
      h3 {
        margin-top: 1rem;
      }
    }
    .announcement-target-class {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      background-color: #fafafa;
      cursor: pointer;

      &-name-action {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        span {
          text-transform: capitalize;
        }
        .toggle-choosing {
          display: inline-block;
          padding: 0.25rem;
          border-radius: 0.25rem;
          background-color: #f2dcdc;
          transition: background-color 0.25s;
          user-select: none;
          &.type-choosing {
            background-color: var(--primary);
          }
          &::after {
            content: "V";
            display: inline-block;
            font-weight: 700;
            margin-left: 0.5rem;
            font-size: 0.5rem;
            transform: scaleX(2);
          }
        }
      }
      margin-bottom: 0.5rem;
    }

    .selected-announcement-target {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      h3 {
        margin-bottom: 1rem;
      }
      .continue {
        margin-top: auto;
        width: fit-content;
        align-self: flex-end;
      }
    }
    ////////MODE 2: EDIT ANNOUNCEMENT
    .orther-resource {
      & > header {
        margin-bottom: 1rem;
      }
      & > main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
        overflow-y: hidden;
        width: 200%;
        transition: 0.5s;

        & > div {
          transition: 0.5s;
          order: 1;
        }
        &.slide-left {
          .available-resource {
            position: absolute;
            transform: translateX(-100%);
            opacity: 0;
            transform: scale(0);
            div {
              border: none;
            }
            // display: none;
          }
          .fetched-resources {
            display: flex;
          }
        }
        .available-resource {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          div {
            // box-sizing: content-box;
            text-align: left;
            margin-bottom: 0.5rem;
            border-radius: 4px;
            border: 1px solid var(--info);
            padding: 0.25rem;
            width: 100%;
            cursor: pointer;
            &:hover {
              border-color: var(--primary);
            }
            span {
              margin-left: 0.5rem;
            }
          }
        }
        .fetched-resources {
          // display: none;
          display: none;
          flex-direction: column;
          font-size: 0.7rem;
          header {
            margin-bottom: 1rem;
            form {
              .bi-search {
                margin-left: 0.5rem;
                width: 1.1rem;
                cursor: pointer;
                &:hover {
                  color: var(--info);
                }
              }
            }
          }
          main {
            overflow-x: auto;
            height: 200px;
            max-height: 200px;
          }
          div.fetched-resource {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 4px;
            border: 1px solid var(--info);
            padding: 0 0.5rem;
            background-color: #fafafa;
            margin-bottom: 0.5rem;
            cursor: pointer;
            // justify-content: center;
            img {
              margin-right: 0.5rem;
            }
            .resource-info {
              display: flex;
              flex-direction: column;
              &:hover {
                color: var(--info);
              }
            }
            a {
              margin-left: auto;
              .bi-arrow-up-right-square {
                color: var(--secondary);
                &:hover {
                  fill: var(--primary);
                }
                // margin-right: 0.5rem;
              }
            }
          }
          .bi-arrow-left-short {
            cursor: pointer;
            margin-top: auto;
            width: 24px;
            height: 24px;
            fill: var(--warning);
            &:hover {
              transform: scale(1.1);
            }
            & + .small {
              margin-left: auto;
              svg {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
    }
    .announcement-edit-content {
      // grid-column: 1/3;
      .announcement-receivers {
        width: 100%;
        padding: 0.5rem;
        border-radius: 4px;
        border: 1px solid var(--primary);
        display: flex;
        flex-direction: row;
        align-items: center;
        &::before {
          content: "To :  ";
          font-size: 0.8rem;
          color: var(--secondary);
        }
        .receiver {
          font-size: 0.9rem;
          span {
            margin-left: 0.5rem;
          }
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 0.5rem;
          background-color: #f2dcdc;
          padding: 0.1rem 0.2rem;
          border-radius: 1rem;
          color: var(--primary);
        }
        .edit {
          cursor: pointer;
          margin-left: auto;
        }
      }
      &__textfield {
        margin-top: 1rem;
        border: 2px solid var(--secondary);
        border-radius: 4px;
        .PrivateNotchedOutline-root-1 {
          border: none;
        }
        //CK EDITOR
        .ck {
          ul {
            list-style: unset;
          }
          &.ck-editor {
            height: 10rem;
            .ck-editor__main {
              max-height: 7rem;
              .ck-content {
                max-height: 7rem;
              }
            }
          }
        }

        .announcement-file-preview {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 7rem;
          background-color: #fafafa;

          .yourfilewillbehere {
            display: none;
          }
          &.hightlight {
            border-top: 2px solid var(--primary);
            border-bottom: 2px solid var(--primary);
            .yourfilewillbehere {
              display: block;
              animation: hightlight 1s linear infinite;
            }
          }
          .preview {
            display: flex;
            flex-direction: row;
            border-radius: 0;
            box-sizing: border-box;
            padding: 1rem;
            height: auto;
            max-width: 200px;
            max-height: 100%;
            .file-preview {
              width: fit-content;
              max-width: 100%;
              &.video {
                video {
                  max-height: 100%;
                }
              }
            }
          }
          .cancel-preview {
            margin-left: 0.5rem;
            cursor: pointer;
          }
          .announcement-edit-actions {
            margin-left: 1rem;
            padding: 0 1rem;
            //CK
            .uploadfile {
              display: flex;
              flex-direction: row;
              align-items: center;
              cursor: pointer;
              img {
                display: block;
              }
              span {
                margin-left: 1rem;
                font-weight: 700;
              }
            }
          }
        }

        &:focus-within {
          border: 2px solid var(--primary);
        }
      }
      &__actions {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;
        margin-top: 1rem;
        .schedule-picker {
          width: fit-content;
        }
        .back {
          margin-right: auto;
        }
        .schedule {
          margin-left: auto;
        }
        .send {
          margin-left: 1rem;
        }
      }
    }
  }

  .choosetype {
    position: relative;
    z-index: 10;
  }
}
#choose-type-popper {
  z-index: 1300;
  .choosetype {
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 1rem 0;
    background-color: #ffffff;
    // height: 100px;
    .type {
      font-weight: 700;
      padding: 0.5rem 1rem;
      &:hover {
        background-color: #f2dcdc;
      }
    }
  }
}
.ck-body-wrapper {
  position: relative;
  z-index: 100000;
  pointer-events: all;
}
.ck-rounded-corners .ck.ck-balloon-panel,
.ck.ck-balloon-panel.ck-rounded-corners {
  z-index: 11 !important;
}

@keyframes hightlight {
  from {
    opacity: 0.5;
    color: var(--secondary);
  }
  to {
    opacity: 1;
    color: var(--primary);
  }
}
