.only-file-preview {
  max-height: 90vh;
  max-width: 600px;
  padding-bottom: 1rem;
  overflow-y: auto;
  .message {
    padding: 0.25rem;
    p,
    a {
      max-width: calc(var(--message-max-width) - 0.5rem);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    a {
      // filter: brightness(150%);
      text-decoration: underline;
      color: var(--announcement-link-color);
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    .info-head {
      text-transform: uppercase;
      margin: 0.25rem 0;
      color: var(--secondary);
      font-size: 0.95rem;
    }
    .message-preview {
      width: 100%;
    }

    .info-avatar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .name {
        margin-left: 0.5rem;
      }
    }
  }
}
